@use "variables" as *;

/*reset*/
*{
  margin: 0;
  paddin: 0;
}

body {
  background-color: $bg-dark;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-section {
  color: $primary;
  background-color: $bg-dark;
  justify-content: center;
  &__heading {
    font-family: $h1-font;
    color: $primary;
    text-size: 20;
    align-items: center;
    justify-content: center;
  }
}

.current-joke {
  background-color: $bg-light;
  justify-content: center;
  font-family: $text-font;
  padding: auto;

  &__text {
    text-align: left;
    margin: auto;
    padding: 2rem;
  }

  &__button-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
  }

  &__button-generate{
    background-color: rgb(20, 217, 20);
    padding: 14px;
    border: none;
  }

  &__button-save--inverted {
    border: 2px solid;
    border-color: $primary;
    background-color: $bg-light;
    color: $primary;
  }
}

.saved-jokes {
  display: flex;
  flex-direction: column;

  &__heading {
    font-family: $h2-font;

    align-items: end;
  }
}

.saved-joke {
    background-color: $bg-light;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1px;

  &__text{

  }

  &__button {

    background-color: $button;
  }
  &__button-icon{

  }
}

@media (min-width: 600px) {

}

@media (min-width: 1100px) {
}
